<nav class="navbar navbar-expand-lg navbar-light bg-white ">
<div class = "container header" style="margin-left:150px">
  <div style = "padding-right: 100px">
    <a class="navbar-brand" href="<%= root_path %>" style="padding-top: 16px;font-size:15px">
      <img src="/instagram/instagram_header.png" width="103" height="29" alt="" loading="lazy">
    </a>
  </div>
  <%# <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> %>

  <div class="collapse navbar-collapse" id="navbarNav" style="font-size:13px">
    <div style = "padding-left : 100px; padding-right : 100px;">
      <form class="form-inline search-form">
        <input class="form-control mr-sm-2" type="search" placeholder="@Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
    <ul class="navbar-nav" style="padding-left : 100px">
      <li class="nav-item active">
        <a class="nav-link" href="<%= root_path %>">
          <img src="/instagram/instagram_home.png" width = "25" height = "25" alt="home">
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <% if current_user %>
        <li class="nav-item">
          <a class="nav-link" href="<%= root_path %>">
            <img src="/instagram/instagram_message_icon.png"  width = "25" height = "25" alt="메세지">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= root_path %>">
            <img src="/instagram/instagram_compass_icon.png" width = "25" height = "25" alt="찾기?">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= root_path %>">
            <img src="/instagram/instagram_heart_off_icon.png"  width = "25" height = "25" alt="좋아요 등 알람">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= user_path(id: current_user.id)%>">
            <%if current_user.profile_photo.file %>
              <img src="<%= current_user.profile_photo.url%>"  width = "25" height = "25" alt="개인 프로필">
            <%else %>
              <img src="/instagram/instagram_default_profile.png" class="img-responsive img-circle" width = "25" height = "25" alt = "개인 프로필">       
            <%end%>
          </a>
        </li>

      <% else %>
        <li class="nav-item" style = "padding-left">
            <%=link_to "로그인",  new_user_session_path, class:"nav-link" %>
        </li>
        <li class="nav-item">
            <%=link_to "회원가입", new_user_registration_path, class:"nav-link" %> 
        </li>  
      <% end %>
    </ul>
  </div>
</div>
</nav>

<style>

.header {
  display: flex;
  justify-content: space-around;
}

</style>