<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="<%= root_path %>" style="padding-top: 16px;font-size:15px">Rails blogs</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav" style="font-size:13px">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="<%= root_path %>">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <%=link_to "게시글 목록", posts_path, class:"nav-link"%>
      </li>
      <li class="nav-item">
        <%=link_to "게시글 작성", new_post_path, class:"nav-link"%>
      </li>
    </ul>
    <div style="margin-left:760px;" class="form-inline my-2 my-lg-0">
        <ul class="navbar-nav">
            <% if current_user%>
                <li class="nav-item">
                    <%=link_to "로그아웃",  destroy_user_session_path,method: :DELETE,class:"nav-link"%>
                </li>
                <li class="nav-item">
                    <%=link_to "정보수정", edit_user_registration_path, class:"nav-link"%>
                </li>
            <% else %>
                <li class="nav-item">
                    <%=link_to "로그인",  new_user_session_path, class:"nav-link"%>
                </li>
                <li class="nav-item">
                    <%=link_to "회원가입", new_user_registration_path, class:"nav-link"%>
                </li>
            <% end %>

          <li class="nav-item">
          </li>
        </ul>
    </div>
  </div>
</nav>
