
<% if @user %>
  <div class = "container user_profile">
    <div class = "profile row">
      <div class = "col-md-4 avatar">
        <div class = "wrapper">
          <%if @user.profile_photo.file %>
            <img src="<%= @user.profile_photo.url%>" class = "img-responsive img-cirlcle"  alt="개인 프로필">
          <%else %>
            <img src="/instagram/instagram_default_profile.png" class="img-responsive img-circle" alt = "개인 프로필">       
          <%end%>
        </div>
      
      </div>
      <div class = "col-md-8 basic-info">
        <div class = "user-wrapper">
          <h2 class = "username"> <%= @user.user_name %></h2>
        <%=link_to "Edit Profile", edit_user_registration_path , class: "btn button edit-profile" %>
        </div>
        <ul class="posts">
          <li><span><%= @user.posts.size %></span> posts</li>
          <li><%= render partial:'follower_count'%> followers</li>
          <li><span> <%= @user.followings.size%> </span> followings</li>
        </ul>
        <h2 class="email" ><%=@user.email%></h3>
        <h2 class="phone_number" ><%=@user.phone_number%></h2>
        <% if current_user%>
          <div class="row">
            <div id="toggle_follow">
              <%= render partial: "toggle_follow"%>
            </div>
            <div style="margin-left:5px">
              <%=link_to "메세지보내기",user_path(@user.id),method: :POST,remote: true, class:"btn btn-lg btn-primary"%>
            </div>
            <% if current_user.id == @user.id %>
              <div style="margin-left:5px">
                <%=link_to "게시글 작성", new_post_path, class:"btn btn-lg btn-primary" %>
              </div>
            <%end%>
          </div>
        <%end%>
      </div>
    </div>
  </div>
  <hr/>
  <%= render partial: "posts/index"%>


<% end %>
<style>
ul{
   list-style:none;
   }
</style>