<div class= "container mt-5" style="font-size:12px">
<%= form_for @post do |post| %>
    <%=post.label :title %> <br/>
    <%= post.text_field :title , placeholder: "title" ,class:"form-control",style: "font-size:15px"%> <br/>
    <%= post.label :content %> <br/>
    <%= post.text_area :content ,placeholder: "content",class:"form-control",style: "font-size:15px",cols:"15",rows:"15" %> <br/>
    <%= post.hidden_field :user_id, value: current_user.id %>
    <p style="float:right;margin-right:10px"><%= post.submit "작성완료" , class:"btn btn-primary btn-lg"%></p>
<% end %>
</div>